nav {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 5;

    margin: 0;
    padding: 12px 0px;
    width: 100vw;

    background: black;
    color: black;
    font-family: var(--nav-font);
    font-weight: bold;

    a {
        color: white;
        text-decoration: none;

        &:hover {
            text-decoration: underline 3px solid var(--accent-color);
        }
    }

    a[href="/logout"] {
        float: right;
        margin-right: 20px;
    }
    
    a[href="/timetable"]{
        margin-left: 20px
    }
}
