:root {
  --font-size: 16px;
  --main-font: "Lato", sans-serif;
  --nav-font: "Red Hat Display", sans-serif;
  --login-font-size: 15px;
  --accent-color: #347aff;
  --accent-hover: #246aef;
  --accent-click: #044acf;
  --bg-color: #ffffff;
  --fg-color: #000000;
  --err-bg: #f09090;
  --input-color: #e0e0e0;
  --link-color: #2e6dd3;
  --th-color: #dadada;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #202020;
    --fg-color: #ffffff;
    --err-bg: #500000;
    --input-color: #505050;
    --link-color: #80b1ff;
    --th-color: #4a4a4a;
  }
}
body {
  margin: 5em 5% 3.75em 5%;
  background: var(--bg-color);
  font-family: var(--main-font);
  font-size: var(--font-size);
  color: var(--fg-color);
}
@media (min-width: 0) and (max-width: 479px) {
  body {
    margin: 3.5em 0 3em 0;
  }
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

a {
  color: var(--link-color);
}

select, input {
  border: 1px solid #aaaaaa;
}

select {
  background: var(--input-color);
  color: var(--fg-color);
  font-family: var(--main-font);
}

input {
  background: var(--input-color);
  color: var(--fg-color);
  font-family: var(--main-font);
}

summary:hover {
  cursor: pointer;
}

details div,
summary {
  border-top: 1px solid var(--input-color);
  padding: 10px;
}

details div:hover,
summary:hover {
  background: var(--th-color);
}

details div {
  border-color: var(--fg-color);
  margin: 0 30px;
}
details div:first-child {
  margin-top: 30px;
}
details div:last-child {
  border-bottom: 1px solid var(--fg-color);
  margin-bottom: 30px;
}

details div * {
  margin: 5px 10px;
}

details div * a {
  color: var(--fg-color);
  margin: 0;
  text-decoration: none;
}

details div * a:hover {
  text-decoration: underline;
}

details:last-child:not([open]) summary {
  border-bottom: 1px solid var(--input-color);
}

details div h5.datetime {
  float: right;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

th.due, th.subject {
  width: 15%;
}

th.task, th.link {
  width: 35%;
}

th, td {
  border: 1px solid var(--fg-color);
  padding: 5px 7px;
}

th {
  background: var(--th-color);
}

hr {
  border: 0;
  border-bottom: 1px solid #aaaaaa;
  margin: 20px 0;
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url(/assets/mainfont.ttf);
}
@font-face {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 500;
  src: url(/assets/navfont.ttf);
}
nav {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 5;
  margin: 0;
  padding: 12px 20px;
  width: 100vw;
  background: black;
  color: black;
  font-family: var(--nav-font);
  font-weight: bold;
}
nav a {
  color: white;
  text-decoration: none;
}
nav a:hover {
  text-decoration: underline 3px solid var(--accent-color);
}

input[type=submit],
input[type=file]::-webkit-file-upload-button {
  border-radius: 5px;
  font-family: var(--main-font);
  font-size: 15px;
  background: var(--accent-color);
  border: none;
  color: white;
  outline: 0 !important;
  padding: 7px 15px;
}

input[type=submit]:hover,
input[type=file]::-webkit-file-upload-button:hover {
  background: var(--accent-hover);
  cursor: pointer;
}

input[type=submit]:active,
input[type=file]::-webkit-file-upload-button:active {
  background: var(--accent-click);
  cursor: pointer;
}

input:focus,
select:focus {
  outline-color: var(--accent-color);
}

input[type=file] {
  background: var(--bg-color);
  border: none;
  font-family: var(--main-font);
  font-size: 11pt;
}

input[type=file]::-webkit-file-upload-button {
  padding: 5px 12px !important;
  margin: 0 10px 0 5px;
}

form[action="/auth"] {
  margin: auto;
  max-width: 25%;
  text-align: left;
}
form[action="/auth"] h1 {
  text-align: center;
}
form[action="/auth"] h3 {
  text-align: center;
  font-size: 1.25em;
}
form[action="/auth"] h4 {
  padding: 9px 13px;
  background: var(--err-bg);
  border: 1px solid red;
  box-sizing: border-box;
  width: 100%;
  border-radius: 5px;
  font-family: var(--main-font);
  font-size: 15px;
}
form[action="/auth"] input#usr,
form[action="/auth"] input#pwd,
form[action="/auth"] select#school {
  margin: 10px 0;
  padding: 5px 10px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 5px;
  font-family: var(--main-font);
  font-size: 15px;
}
form[action="/auth"] select#school {
  padding: 5px 5px !important;
}
form[action="/auth"] input[type=submit] {
  border-radius: 5px;
  font-family: var(--main-font);
  font-size: 15px;
  margin-top: 14px;
  padding: 10px 20px !important;
  width: 100%;
}
@media (min-width: 0) and (max-width: 479px) {
  form[action="/auth"] {
    max-width: 90%;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  form[action="/auth"] {
    max-width: 80%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  form[action="/auth"] {
    max-width: 60%;
  }
}
@media (min-width: 1024px) and (max-width: 1199px) {
  form[action="/auth"] {
    max-width: 40%;
  }
}
@media (min-width: 1200px) {
  form[action="/auth"] {
    max-width: 25%;
  }
}

#timetable-img {
  display: block;
  margin: 0 auto;
  padding: 2px;
}

#timetable {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
  min-height: 1050px;
  box-sizing: border-box;
  background-color: #e0e0e0;
  color: #000000;
}
#timetable .day {
  display: block;
  width: 20%;
  box-sizing: border-box;
  border-right: 1px solid #363637;
  padding-bottom: 1.5em;
}
#timetable .day > h2 {
  text-align: center;
  font-size: 1.3em;
}
#timetable .day .lessons {
  position: relative;
}
#timetable .day .lessons > .lesson {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  min-height: 90px;
  background-color: #ffffff;
  padding: 5px;
  width: 95%;
  box-sizing: border-box;
}
#timetable .day .lessons > .lesson .class-name {
  margin-top: 2px;
  margin-bottom: 5px;
  font-size: 1.1em;
  font-weight: bold;
}
#timetable .day .lessons > .lesson .notice, #timetable .day .lessons > .lesson .teacher, #timetable .day .lessons > .lesson .time-room {
  font-size: 0.9em;
  margin: 5px 0;
}
#timetable .day .lessons > .lesson .notice {
  font-weight: bold;
}
@media (min-width: 0) and (max-width: 479px) {
  #timetable .day {
    width: 100%;
  }
  #timetable .lessons > .lesson {
    position: static !important;
    top: 0px !important;
    min-height: 90px !important;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  #timetable .day {
    width: 100%;
  }
  #timetable .lessons > .lesson {
    position: static !important;
    top: 0px !important;
    min-height: 90px !important;
  }
}
