@import url("https://fonts.googleapis.com/css?family=Noto+Sans");

:root {
	--font: "Noto Sans";
}

body {
	background: #202020;
	color: #ffffff;
}

p {
	font-family: var(--font);
}

a {
	color: #629DFF;
}
