@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap");

:root {
	--accent-color: #347aff;
	--accent-hover: #246aef;
	--accent-click: #044acf;
	--bg-color: #ffffff;
	--errbg: #f09090;
	--fg-color: #000000;
	--font: "Lato";
	--font-size: 13pt;
	--input-color: #e0e0e0;
	--link-color: #2e6dd3;
	--login-font-size: 11pt;
	--navfont: "Red Hat Display";
	--th-color: #dadada;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg-color: #202020;
		--errbg: #500000;
		--fg-color: #ffffff;
		--input-color: #505050;
		--link-color: #80b1ff;
		--th-color: #4a4a4a;
	}
}

body {
	background: var(--bg-color);
	color: var(--fg-color);
	font-family: var(--font);
	font-size: var(--font-size);
	margin: 80px 40px 60px 40px;
}

nav {
	background: black;
	color: black;
	font-family: var(--navfont);
	font-weight: bold;
	margin: 0;
	padding: 12px 20px;
	position: fixed;
	width: 100vw;
	top: 0;
	left: 0;
}

nav a {
	color: white;
	text-decoration: none;
}

nav a:hover {
	text-decoration: underline 3px solid var(--accent-color);
}

a {
	color: var(--link-color);
}

img#timetable {
	display: block;
	margin: 0 auto;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

th.due, th.subject {
	width: 15%;
}

th.task, th.link {
	width: 35%;
}

th, td {
	border: 1px solid var(--fg-color);
	padding: 5px 7px;
}

th {
	background: var(--th-color);
}

select, input {
	border: 1px solid #aaaaaa;
}

select {
	background: var(--input-color);
	color: var(--fg-color);
	font-family: var(--font);
}

input {
	background: var(--input-color);
	color: var(--fg-color);
	font-family: var(--font);
}

form[action="/auth"] {
	margin: auto auto;
	max-width: 270px;
	text-align: left;
}

form[action="/auth"] h1,
form[action="/auth"] h3 {
	text-align: center;
}

form[action="/auth"] h3 {
	font-size: 15pt;
}

form[action="/auth"] h4,
select#school,
input#usr,
input#pwd {
	box-sizing: border-box;
	width: 100%;
}

form[action="/auth"] h4,
select#school,
input#usr,
input#pwd,
input[type="submit"] {
	border-radius: 5px;
	font-size: 11pt;
}

form[action="/auth"] h4 {
	background: var(--errbg);
	border: 1px solid red;
	padding: 9px 13px;
}

select#school,
input#usr,
input#pwd,
input[type="submit"] {
	margin: 8px 0;
}

select#school {
	padding: 3px 5px;
}

input#usr,
input#pwd {
	padding: 5px 10px;
}

form[action="/auth"] input[type="submit"] {
	margin-top: 10px;
	padding: 10px 20px;
	width: 100%;
}

input[type="submit"] {
	background: var(--accent-color);
	border: none;
	color: white;
	outline: 0 !important;
	padding: 7px 15px;
}

input[type="submit"]:hover {
	background: var(--accent-hover);
	cursor: pointer;
}

input[type="submit"]:active {
	background: var(--accent-click);
	cursor: pointer;
}

input:focus,
select:focus {
	outline-color: var(--accent-color);
}

hr {
	color: #aaaaaa;
}
