$breakpoints: (
    xs: 0,
    sm: 480px,
    md: 768px,
    lg: 1024px,
    xl: 1200px
);

@mixin xs {
    @media (min-width: map-get($breakpoints, "xs")) and 
    (max-width: (map-get($breakpoints, "sm")-1)) {
        @content;
    }
}

@mixin sm {
    @media (min-width: map-get($breakpoints, "sm")) and 
    (max-width: (map-get($breakpoints, "md")-1)) {
        @content;
    }
  }

@mixin md {
    @media (min-width: map-get($breakpoints, "md")) and 
    (max-width: (map-get($breakpoints, "lg")-1)) {
        @content;
    }
}

@mixin lg {
    @media (min-width: map-get($breakpoints, "lg")) and 
    (max-width: (map-get($breakpoints, "xl")-1)) {
        @content;
    }
}

@mixin xl {
    @media (min-width: map-get($breakpoints, "xl")) {
        @content;
    }
}

// At least one value must be provided
@mixin breakpoint($min-bp: null, $max-bp: null) {
    @media (min-width: $min-bp) and (max-width: $max-bp) {
        @content;
    }
}

@mixin breakpoint-min($min-bp: null) {
    @media (min-width: $min-bp) {
        @content;
    }
}

@mixin breakpoint-max($max-bp: null) {
    @media (max-width: $max-bp) {
        @content;
    }
}

@include xs {
    //
}

@include sm {
    //
}

@include md {
    //
}

@include lg {
    //
}

@include xl {
    //
}