:root {
	--accent-color: #347aff;
	--accent-hover: #246aef;
	--accent-click: #044acf;
	--bg-color: #ffffff;
	--err-bg: #f09090;
	--fg-color: #000000;
	--main-font: "Lato", sans-serif;
	--font-size: 16px;
	--input-color: #e0e0e0;
	--link-color: #2e6dd3;
	--login-font-size: 11pt;
	--nav-font: "Red Hat Display", sans-serif;
	--th-color: #dadada;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg-color: #202020;
		--err-bg: #500000;
		--fg-color: #ffffff;
		--input-color: #505050;
		--link-color: #80b1ff;
		--th-color: #4a4a4a;
	}
}
