$headerHeight: 50px;

$tc-blue: #0094F2;
$tc-gold: #F9AD30;

$accent-color: $tc-blue;
$accent-hover: #165FD2;
$accent-click: #043BCF;

$light-theme-bg: #EAEAF6;
$light-theme-bg-hover: #d3d3de;
$light-theme-fg: #000000;
$light-theme-input: #AAAAB8;
$light-theme-link: #2E6DD3;
$light-theme-hr: #494953;
$light-theme-err-bg: #A30F04;

$dark-theme-bg: #2A2A2F;
$dark-theme-bg-hover: #3f3f46;
$dark-theme-fg: #ffffff;
$dark-theme-input: #494953;
$dark-theme-link: #619EFF;
$dark-theme-hr: #AAAAB8;
$dark-theme-err-bg: #590000;

// Timetable
