{{define "head"}}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Head.Title}}</title>
    <link rel="stylesheet" href="/assets/styles.css">
</head>
{{end}}
