{{define "head"}}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Head.Title}}</title>

    <link rel="icon" href="/assets/icons/favicon.ico" sizes="any">
    <link rel="icon" href="/assets/icons/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/assets/icons/apple-touch-icon.png">
    <link rel="manifest" href="/assets/manifest.webmanifest">

    <link rel="stylesheet" href="/assets/styles.css">
    <script src="/assets/script.js" defer></script>
</head>
{{end}}
