{{define "login"}}
<form method="POST" enctype="application/x-www-form-urlencoded" action="/auth">
    <h1>TaskCollect</h1>
    <h3>Login</h3>
    {{if eq .Body.LoginData.Failed true}}
    <h4>Authentication failed</h4>
    {{end}}
    <label for="school">School:</label><br>
    <select id="school" name="school">
        <option value="gihs">Glenunga International High School</option>
    </select><br>
    <label for="usr">Username:</label><br>
    <input type="text" id="usr" name="usr"><br>
    <label for="pwd">Password:</label><br>
    <input type="password" id="pwd" name="pwd"><br>
    <input type="submit" value="Login">
</form>
{{end}}
